* {
  all: unset;
}
.bar_cont {
    background: rgba(0, 0, 0, 0.6);
    padding: 10px 20px;
}
.left_bar_cont .workspace {
    font-size: 20px;
    color: rgba(255, 255, 255, 0.5);
}
.left_bar_cont .active {
    color: white;
}

